@using WioShop.Models.Classes
@model IEnumerable<WioShop.Models.Classes.Product>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="content">
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">WioShop - Kimdir ?</h1>
            <br />
            <div class="col-lg-12">
                <p class="fs-5 mt-4 mb-4 text-light">
                    WioShop, Fahri Coşkun tarafından tasarlanan bir e-ticaret sitesidir.
                    LEGO dünyasından pek çok farklı çeşidi bulabileceğiniz size uygun onlarca LEGO ürünün satıldığı bir platformdur.
                    Farklı yaşta kullanıcılar için farklı kategorilerde LEGO çeşitlerinin bulunduğu bu platformda sizleri LEGO dünyasıyla buluşturuyoruz.
                    Türkiye'nin her bölgesine kargo imkanı sunan WioShop, sizler için uygun fiyatlarda LEGO temin etmektedir.
                </p>
                <br />
                <p class="fs-5 mb-4 text-light mt-4">
                    WioShop'ta toplam 5 farklı ürün kategorisi bulunmaktadır. Bu ürünler birbirinden eşsiz ve eğlencelidir. Parça sayıları
                    aldığınız ürüne göre değişiklik göstermektedir.
                    <br />
                    Eğer ürünlere göz gezdirmek isterseniz aşağıdaki butondan ürünler sayfasına gidebilirsiniz.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/Home/Products" type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Ürünlere Git</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped table-hover table-light mt-4">
        <tr style="text-align: center">
            <th>
                @Html.DisplayNameFor(model => model.ProductImg)
            </th>
        </tr>
        <tr>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
            <td>
                Ürün Linki
            </td>
        </tr>
    </table>

</div>
