@model IEnumerable<WioShop.Models.Classes.Category>

<div class="d-flex gap-4 justify-content-center py-5">
    <span class="d-flex align-items-center">
        <a href="/Home/Products" class="btn btn-outline-dark btn-lg">
            Tüm Kategoriler
        </a>
    </span>

    @foreach (var item in Model)
    {
        <span class="d-flex align-items-center">
            <a href="/Home/Products/@item.Id" class="btn btn-outline-dark btn-lg">
                @item.CategoryName
            </a>
        </span>
    }
</div>
