
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<body>
    <!-- Carousel Başlangıç -->
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img/" class="d-block w-100 foto" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/en sevdiğin.png" class="d-block w-100 foto" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/img/img3.jpeg" class="d-block w-100 foto" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Carousel Bitiş-->
    <!-- Ürünler Başlangıç -->
    <section class="products mt-5">
        <div class="container mb-5">
            <h1>Popüler</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img1.jpg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Kulaklık</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 66</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img2.jpg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Ayakkabı (Erkek)</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img3.jpeg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Ayakkabı (Kadın)</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 45</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img4.jpeg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Minyatür Araba</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 87</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5 mb-5">
            <h1>Çok Satanlar</h1>
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img1.jpg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Kulaklık</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 66</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img2.jpg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Ayakkabı (Erkek)</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 38</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img3.jpeg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Ayakkabı (Kadın)</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 45</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-3">
                    <div class="card">
                        <img src="~/img/img4.jpeg" alt="product" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">Minyatür Araba</h5>
                            <p class="cart-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                            </p>
                            <div class="d-flex justify-content-between">
                                <a class="btn btn-info text-white" href="#">Add to Cart</a>
                                <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 87</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ürünler Bitiş -->
</body>