@using WioShop.Models.Classes
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<body>
    <!-- Main Başlangıç -->
    <div class="py-5 border-bottom-dark" style="background-color: burlywood; height: 500px;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-3 font-monospace">
                        Aradığınız LEGO'lar WioShop'ta!
                    </h1>
                    <br />
                    <p class="lead">
                        Birbirinden eşsiz parçalar, her yaşa uygun ve <br> çeşitli sayıda LEGO'lar sizi bekliyor.
                    </p>
                    <a href="/Home/Products" class="btn btn-outline-dark btn-lg">Keşfet!</a>
                </div>
                <div class="col-6">
                    <img src="~/img/lego-main.png" alt="" class=" float-end" style="width: 50%">
                </div>
            </div>
        </div>
    </div>
    <!-- Main Bitiş-->

    <!-- Çok Satan Ürünler Başlangıç -->
    <div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Çok Satan Ürünler</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mt-4">Son 1 Ayda En Çok Satan Ürünler</p>
                <p class="fs-5 mb-4">Ürünlerin Tamamını Görmek İçin</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/Home/Products" type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Ürünlere Git</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Çok Satan Ürünler Bitiş -->

    <!-- Çok Satan Ürünler Liste Başlangıç -->
    @Html.Partial("_ProductList", Model)
    <!-- Çok Satan Ürünler Liste Bitiş -->
</body>