@using WioShop.Models.Classes
@model IEnumerable<ProductModel>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="" style="background-color: burlywood;">
    <div class="container pb-5">
        <div class="">
            @Html.Action("GetCategories", "Home")
        </div>

        <!-- Ürünler Başlangıç -->
        <div class="mt-4">
            @Html.Partial("_ProductList", Model)
        </div>
    </div>
</div>



<!-- Ürünler Bitiş -->