
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- Ürünler Başlangıç -->
<section class="products mt-5">
    <div class="container mb-5">
        <h1>Popüler</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img1.jpg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Kulaklık</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 66</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img2.jpg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Ayakkabı (Erkek)</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 38</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img3.jpeg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Ayakkabı (Kadın)</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 45</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img4.jpeg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Minyatür Araba</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 87</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <h1>Çok Satanlar</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img1.jpg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Kulaklık</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 66</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img2.jpg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Ayakkabı (Erkek)</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 38</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img3.jpeg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Ayakkabı (Kadın)</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 45</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="card">
                    <img src="~/img/img4.jpeg" alt="product" class="card-img-top img-fluid">
                    <div class="card-body">
                        <h5 class="card-title">Minyatür Araba</h5>
                        <p class="cart-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ullam vel animi quos omnis excepturi!
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="btn btn-info text-white" href="#">Add to Cart</a>
                            <span class="price badge rounded-pill bg-warning text-dark d-flex align-items-center">$ 87</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ürünler Bitiş -->